<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722400988661-jhsc5ndud78abq3cribosjk1o8qc567o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722400988661-jhsc5ndud78abq3cribosjk1o8qc567o</string>
	<key>API_KEY</key>
	<string>AIzaSyDzkWsh3Qr2fdJfxX7WQLOcEycOm0BVx5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>722400988661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dongwoopae.UnitySearch</string>
	<key>PROJECT_ID</key>
	<string>unitysearch-fc81f</string>
	<key>STORAGE_BUCKET</key>
	<string>unitysearch-fc81f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722400988661:ios:158326cc1e4b17e8ce64bc</string>
	<key>DATABASE_URL</key>
	<string>https://unitysearch-fc81f.firebaseio.com</string>
</dict>
</plist>